<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ordering_System.Properties.Settings.MenuConnectionString"
            connectionString="Data Source=DESKTOP-61B3VF9\DHP;Initial Catalog=Menu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Ordering_System.Properties.Settings.OrderingSystemConnectionString"
            connectionString="Data Source=DESKTOP-61B3VF9\DHP;Initial Catalog=OrderingSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>